<!-- contenido principal del sistema-->
<div class="inicio_contenido">
    <div class="contenido_pagina">
        <div class="texto">Bienvenidos</div>
        <!-- Mostrará una lista de todas las habitaciones del hotel LOCAL STORAGE-->

          
        <div class="home">

            <div class="container">
              <h1>¡Bienvenido al Hotel De Las Nieves!</h1>
              <h2>¡Disfruta de una estancia única en nuestro lujoso hotel!</h2>
              <h2>Estamos encantados de recibirte en nuestro lujoso hotel, donde la comodidad y la excelencia en el servicio son nuestra prioridad. Aquí encontrarás todo lo necesario para disfrutar de una estancia inolvidable.</h2>
              <h2>Nuestras amplias y elegantes habitaciones te ofrecen un oasis de tranquilidad y descanso. Cada detalle ha sido cuidadosamente diseñado para brindarte el máximo confort, desde las cómodas camas hasta las vistas impresionantes que podrás disfrutar desde tu ventana.</h2>
              <h2>Nuestro experimentado personal está comprometido en hacer de tu estancia una experiencia excepcional. Estaremos encantados de atenderte en todo momento y brindarte recomendaciones sobre los mejores lugares para visitar y actividades para disfrutar en la zona.</h2>
              <h2>Además, nuestro hotel cuenta con una amplia gama de servicios y comodidades para satisfacer todas tus necesidades. Desde nuestro exquisito restaurante, donde podrás deleitarte con platos gourmet, hasta nuestro spa de lujo, donde podrás relajarte y rejuvenecer tu cuerpo y mente.</h2>
              <h2>No te pierdas la oportunidad de explorar los encantos de la ciudad. Estamos estratégicamente ubicados cerca de los principales puntos de interés y atracciones turísticas, lo que te permitirá disfrutar de todo lo que la ciudad tiene para ofrecer.</h2>
              <h2>En el Hotel De Las Nieves, nos esforzamos por superar tus expectativas y convertir tu estancia en una experiencia única. Esperamos que disfrutes de cada momento y que te sientas como en casa en nuestro hotel.</h2>
            </div>
        </div>
          
        <!-- fin del listado de habitaciones, este listado será generado por la base de datos, 
        por ahora solo es un diseño -->
    </div>
</div>